@import 'variables.css';

.main-edit-profile-container {
  display: grid;
  margin-top: 8vh;
  height: 92vh;
  place-items: center;
  background-color: var(--color-fondo-claro);
  position: relative;
}

.edit-profile-container {
  display: grid;
  width: 60%;
  min-height: 70%;
  max-height: auto;
  grid-template-columns: 1fr 60%;
  background-color: var(--color-fondo);
}

.aside-container-edit-profile {
  height: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.image-container-edit-profile {
  aspect-ratio: 1 / 1;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-texto);
  border-radius: 50%;
  background-color: var(--color-fondo-claro);
  overflow: hidden;
}

.profile-image-edit {
  width: min-content;
  aspect-ratio:  1 / 1;
  object-fit: cover;
  overflow: hidden;
}

.form-container {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

   & form {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 40px;
   }

   & form > * {
    height: 35px;
  
    & p {
      color: rgb(197, 22, 22);
      font-size: small;
    }
   }

   & form div input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 7px;
   }


   & button {
    background-color: var(--color-botones);
    border: none;
    color: var(--color-fondo);
    font-size: 15px;
   }
   
   & button:hover {
    cursor: pointer;
   }
}

.toaster {
  background-color: var(--color-toaster);
  color: var(--color-fondo-claro);
}

.button-edit-profile-container {
  display: flex;
  justify-content: center;
}

.label-edit-profile-image {
    background-color: var(--color-botones);
    display: flex;
    align-items: center;
    border: none;
    height: 35px;
    color: var(--color-fondo);
    font-size: 15px;
    padding: 0 15px;
    margin-top: 20px;
}

.label-edit-profile-image:hover {
  cursor: pointer;
}

.changepasswordlink {
  color: blue;
}

.changepasswordlink:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1140px) {
  .edit-profile-container {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media only screen and (max-width: 780px) {
  .edit-profile-container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media only screen and (max-width: 640px) {
  .edit-profile-container {
    width: 100%;
  }
}