@import 'variables.css';

.main-reset-password {
  height: 92vh;
  margin-top: 8vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

.reset-password-modal {
  background-color: var(--color-fondo-claro);
  padding: 32px;
}

.reset-password-modal, .reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reset-password-form button {
  border: none;
  height: 30px;
  color: var(--color-fondo-claro);
  background-color: var(--color-botones);
}

.reset-password-form button:hover {
  cursor: pointer;
}


.new-password, .repeat-new-password {
  display: flex;
  flex-direction: column;

  & input { 
    border: none;
    height: 30px;
    background-color: var(--color-fondo);
  }

}

.errors-reset-password {
  color: red;
}