:root {
  --color-principal: #f77700;
  --color-semifondo: #e9b08e;
  --color3: #a4330d;
  --color-botones: #003049;
  --color5: #e3dbcb;
  --color-texto: #5e3c2c;
  --color-texto-claro: #3f4555;
  --color-fondo: #f5f2ec;
  --color-fondo-claro: #f0ffff;
  --color-toaster: #ffc340;

  /* fcf8f3  ece9e4 ffc340*/
}

